@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --color-background: #f3eeee;
    --color-text: #2A2223;
    --color-main: #E13E16;
    --color-error: #f52e22;
    --color-success: #019967;
}

.dark {
    --color-background: #131212;
    --color-text: #f7fafc;
    --color-main: #E13E16;
    --color-error: #f56565;
    --color-success: #48bb78;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
}

input[type="password"]::-webkit-caps-lock-indicator {
    display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

aside.w-16 .dropdown-icon,
aside.w-16 .dropdown-content,
aside.w-16 .sidebar-text {
    display: none !important;
}

aside.w-16 .dropdown-btn {
    pointer-events: none;
}

aside.w-16 .dropdown-btn:hover {
    background-color: transparent;
}

aside.w-16 .dropdown-icon,
aside.w-16 .dropdown-content,
aside.w-16 .sidebar-text {
    display: none !important;
}

aside.w-16 .menu-item {
    pointer-events: none !important;
    cursor: default !important;
}

aside.w-16 .menu-item:hover {
    background-color: transparent !important;
    color: inherit !important;
}
