@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body{
    margin:0; padding: 0; box-sizing: border-box;
}

:root{
    --color-background: #ffff;
    --color-text: #2A2223;
    --color-main: #E13E16;
    --color-error: #f52e22;
    --color-success: #019967;
}

[data-theme="dark"] {
  --color-background: #1a202c;
  --color-text: #f7fafc;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
}
input[type="password"]::-webkit-caps-lock-indicator {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}
